@import "../../../common";

.about {
  font-family: 'Source Sans Pro', sans-serif;

  .about-content {
    padding: 140px 0 35px;
    width: 100%;
    @media screen and (max-width: 767px){
      padding: 70px 0 0;
    }

    .about-title {
      font-size: 42px;
      font-family: 'Overpass', sans-serif;
      font-weight: bold;
      text-align: center;
      @media screen and (max-width: 767px){
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    .about-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      flex-wrap: wrap;

      .about-image {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }

      .about-info {
        margin-top: 20px;
        @media screen and (max-width: 767px){
          text-align: center;
        }
        .about-info-zag{
          font-family: 'Overpass', sans-serif;
          font-size: 26px;
          font-weight: bold;
          @media screen and (max-width: 767px){
            font-size: 20px;
          }
        }
        .about-info-description{
          font-size: 16px;
          color: $text-description;
        }
        .about-info-btn{
          color: $colorSelect;
          font-weight: bold;
          font-size: 22px;
          margin-top: 20px;
          text-decoration: none;
        }
      }
    }
  }
}